.header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    transition: 0.7s;
}
.header-active {
    background: rgb(0, 0, 0);
    transition: 0.7s;
}
.header-content {
    margin: 30px 0;
}
.header-list {
    height: 36px;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.header-list-item {

}
.burger {
    z-index: 12;
}
.burger-list {
    display: flex;
    flex-direction: row;
}
.burger-item {
    margin: 0 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.burger-list-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    text-align: center;
    z-index: 11;
}
.account {
    margin-left: auto;
    z-index: 12;
}
.account i {
    margin: 0 15px;
    cursor: pointer;
    margin-right: auto;
}
